<!-- <h3 mat-dialog-title>{{data.description.title}}</h3> -->
<form [formGroup]="form" (ngSubmit)="sendTest()">
    <div mat-dialog-content>
        <mat-form-field class="example-full-width">
            <input
                matInput
                placeholder="Назва тесту"
                formControlName="test_name"
            />
            <mat-error
                *ngIf="
                    form.get('test_name').invalid &&
                    form.get('test_name').touched
                "
            >
                Поле не має бути пустим
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Предмет</mat-label>
            <mat-select name="subject_id" formControlName="subject_id">
                <mat-option
                    *ngFor="let item of subjects"
                    [value]="item.subject_id"
                >
                    {{ item.subject_name }}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="
                    form.get('subject_id').invalid &&
                    form.get('subject_id').touched
                "
            >
                Поле не має бути пустим
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Кількість завдань</mat-label>
            <input matInput type="number" formControlName="tasks" required />
            <mat-error
                *ngIf="form.get('tasks').invalid && form.get('tasks').touched"
            >
                Поле не має бути пустим
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Час (хв)</mat-label>
            <input matInput type="number" formControlName="time_for_test" />
            <mat-error
                *ngIf="
                    form.get('time_for_test').invalid &&
                    form.get('time_for_test').touched
                "
            >
                Поле не має бути пустим
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Кількість спроб</mat-label>
            <input matInput type="number" formControlName="attempts" />
            <mat-error
                *ngIf="
                    form.get('attempts').invalid && form.get('attempts').touched
                "
            >
                Поле не має бути пустим
            </mat-error>
        </mat-form-field>
        <label class="example-margin">Стан:</label>
        <mat-radio-group formControlName="enabled">
            <mat-radio-button value="1" class="radio-btn"
                >Доступний</mat-radio-button
            >
            <mat-radio-button value="0" class="radio-btn"
                >Недоступний</mat-radio-button
            >
        </mat-radio-group>
    </div>
    <div class="toolbar" mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>Відмінити</button>
        <button mat-button type="submit" [disabled]="form.invalid">
            Зберегти
        </button>
    </div>
</form>
