<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
    >
        <mat-toolbar>Навігація</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="">Головна</a>
            <a mat-list-item routerLink="">Факультети</a>
            <a mat-list-item routerLink="">Групи</a>
            <a mat-list-item routerLink="">Спеціальності</a>
            <a mat-list-item routerLink="">Предмети</a>
            <a mat-list-item routerLink="">Результати</a>
            <a mat-list-item routerLink="">Протокол</a>
            <a mat-list-item routerLink="">Адміни</a>
            <a mat-list-item routerLink="">Про нас</a>
            <a mat-list-item routerLink="" (click)="logOut()">Вихід</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>DT-API</span>
            <span class="toolbar-spacer"></span>

            <span class="toolbar-spacer"></span>
            <!-- !Login/Logout  -->
            <button mat-button [matMenuTriggerFor]="menu">Адмін</button>
            <mat-menu #menu="matMenu">
                <!-- !На цю кнопку event binding на клік метод logout -->
                <button mat-menu-item (click)="logOut()">Вийти</button>
            </mat-menu>
            <!-- !Language  -->
            <button mat-button [matMenuTriggerFor]="lang">Мова</button>
            <mat-menu #lang="matMenu">
                <button mat-menu-item>ENG</button>
                <button mat-menu-item>UKR</button>
            </mat-menu>
            <button
                mat-mini-fab
                color="primary"
                (click)="drawer.toggle()"
                (click)="menuIconChange()"
            >
                <mat-icon>{{ menuIcon }}</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
