<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
    >
        <mat-toolbar>Навігація</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/admin/dashboard">Головна</a>
            <a mat-list-item routerLink="/admin/faculties">Факультети</a>
            <a mat-list-item routerLink="/admin/group">Групи</a>
            <a mat-list-item routerLink="/admin/speciality">Спеціальності</a>
            <a mat-list-item routerLink="/admin/subjects">Предмети</a>
            <a mat-list-item routerLink="/admin/results">Результати</a>
            <a mat-list-item routerLink="/admin/protocol">Протокол</a>
            <a mat-list-item routerLink="/admin/admins">Адміни</a>
            <a mat-list-item routerLink="/admin/about">Про нас</a>
            <a mat-list-item (click)="logOut()">Вихід</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>D-TESTER</span>
            <span class="toolbar-spacer"></span>
            <span class="toolbar-spacer"></span>
            <button mat-button [matMenuTriggerFor]="menu">Адмін</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logOut()">Вийти</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="lang">Мова</button>
            <mat-menu #lang="matMenu">
                <button mat-menu-item>ENG</button>
                <button mat-menu-item>UKR</button>
            </mat-menu>
            <button
                mat-mini-fab
                color="primary"
                (click)="drawer.toggle()"
                (click)="menuIconChange()"
            >
                <mat-icon>{{ menuIcon }}</mat-icon>
            </button>
        </mat-toolbar>
        <div class="admin-content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
