<div class="quiz">
    <form>
        <div class="quiz__button-question">
            <button
                class="quiz__number_of_question"
                mat-raised-button
                color="primary"
                *ngFor="let btn of btnCount; let i = index"
                (click)="changeQuestion($event, i)"
                [ngClass]="{
                    active: startTest === i,
                    done: isAnswer[i] === i
                }"
            >
                {{ i + 1 }}
            </button>
        </div>
        <div class="quiz__question-container">
            <h2 class="quiz__question-text">
                {{ questionsAndAnswers[startTest].question_text }}
            </h2>
            <div
                class="quiz__question-picture"
                *ngIf="questionsAndAnswers[startTest].attachment"
            >
                <img
                    mat-card-image
                    src="{{ questionsAndAnswers[startTest].attachment }}"
                    alt="question picture"
                />
            </div>
        </div>
        <div class="quiz__answers-block">
            <ng-container
                *ngIf="questionsAndAnswers[startTest].type === '1'"
                class="type_one answer-attachment"
            >
                <div
                    *ngFor="
                        let answer of questionsAndAnswers[startTest].answers
                    "
                >
                    <div>
                        <mat-checkbox
                            class="simple-checkbox"
                            [checked]="
                                answer.answer_id === completed[startTest]
                            "
                            id="{{ answer.answer_id }}"
                            (change)="
                                trueAnswerSimpleOne($event, answer.answer_id)
                            "
                        ></mat-checkbox>
                        <span class="answer-text">{{
                            answer.answer_text
                        }}</span>
                    </div>
                    <div *ngIf="answer.attachment">
                        <img
                            mat-card-image
                            src="{{ answer.attachment }}"
                            alt="answer picture"
                        />
                    </div>
                </div>
            </ng-container>
            <ng-container
                *ngIf="questionsAndAnswers[startTest].type === '2'"
                class="type__two answer-attachment"
            >
                <div
                    *ngFor="
                        let answer of questionsAndAnswers[startTest].answers
                    "
                >
                    <div>
                        <mat-checkbox
                            id="{{ answer.answer_id }}"
                            [checked]="
                                getTrueAnswer(answer.answer_id, startTest)
                            "
                            class="example-margin"
                            (change)="trueAnswerMulti($event, answer.answer_id)"
                        ></mat-checkbox>
                        <span class="answer-text">{{
                            answer.answer_text
                        }}</span>
                    </div>
                    <div *ngIf="answer.attachment">
                        <img
                            mat-card-image
                            src="{{ answer.attachment }}"
                            alt="answer picture"
                        />
                    </div>
                </div>
            </ng-container>
            <div
                class="type_three"
                *ngIf="questionsAndAnswers[startTest].type === '3'"
            >
                <mat-form-field>
                    <mat-label>Ваша відповідь</mat-label>
                    <input
                        matInput
                        type="text"
                        [value]="
                            textValue[startTest] ? textValue[startTest] : ''
                        "
                        (change)="trueAnswerText($event)"
                    />
                </mat-form-field>
            </div>
            <div
                class="type_four"
                *ngIf="questionsAndAnswers[startTest].type === '4'"
            >
                <mat-form-field>
                    <mat-label>Введіть значення</mat-label>
                    <input
                        [value]="
                            answersIdNum[this.startTest]
                                ? answersIdNum[this.startTest]
                                : ''
                        "
                        matInput
                        type="number"
                        (change)="truAnswerNum($event)"
                    />
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<mat-divider></mat-divider>
