<div class="transfer" *ngIf="!loading; else loader">
  <div class="transfer__header">
    <h3 mat-dialog-title class="transfer__title">
      Виберіть групу для переведення студента
    </h3>
  </div>

  <mat-dialog-content class="transfer__content">
    <div class="transfer__container">
      <div class="transfer__faculty">
        <div class="transfer__selector">
          <mat-form-field class="faculty">
            <mat-label>Виберіть Факультат/Інститут</mat-label>
            <mat-select #faculty required placeholder="Факультет/Інститут">
              <mat-option>
                Інститут інформаційних технологій
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="transfer__group">
        <div class="transfer__selector">
          <mat-form-field class="faculty">
            <mat-label>Виберіть Групу</mat-label>
            <mat-select #group required placeholder="Група">
              <mat-option>
                ІПмз-20-1
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="transfer__actions">
    <div class="transfer__buttons">
      <button mat-flat-button
              (click)="closeModal()"
              color="warn"
              mat-dialog-close
              class="transfer__btn">
        Закрити
      </button>

      <button mat-flat-button
              color="accent"
              class="transfer__btn">
        Перевести
      </button>
    </div>
  </mat-dialog-actions>
</div>

<ng-template #loader>
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</ng-template>
