<div class="confirm">
  <h3 mat-dialog-title class="confirm__title">Підтвердження</h3>
  <mat-dialog-content>
    <div class="confirm__content">{{ data.message }}</div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <div class="confirm__buttons">
      <button  mat-flat-button color="warn" mat-dialog-close>
        Скасувати
      </button>
      <button mat-flat-button color="primary" mat-dialog-close="true">
        Підтвердити
      </button>
    </div>
  </mat-dialog-actions>
</div>
