<section class="test-player" *ngIf="!loading; else loader">
    <div class="test-player__container">
        <div class="test-player__header">
            <app-timer
                (onCheck)="finishTest($event)"
                [test]="currentTest"
            ></app-timer>
        </div>
        <div class="test-player__content">
            <app-questions
                (onAnswer)="studentAnswer($event)"
                [questionsAndAnswers]="testQuestionsAndAnswers"
            ></app-questions>
        </div>
    </div>
</section>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
