<form (ngSubmit)='save()' [formGroup]='subjectForm'  class="subjectForm">
  <h3 mat-dialog-title>Додати новий предмет</h3>
  
    <div mat-dialog-content>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Назва Предмету" formControlName="subject_name">
        <mat-error *ngIf="hasError('subject_name', 'required')">Це поле є обов'язковим</mat-error>
        <mat-error *ngIf="hasError('subject_name', 'pattern')">Використовуйте українські літери</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-content>
      <mat-form-field appearance="outline">
        <textarea placeholder="Опис Предмету" formControlName="subject_description" matInput rows="5" cols="40"></textarea>
        <mat-error *ngIf="hasError('subject_description', 'required')">Це поле є обов'язковим</mat-error>
        <mat-error *ngIf="hasError('subject_description', 'pattern')">Використовуйте українські літери</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-stroked-button color="primary" cdkFocusInitial (click)='save()'>Додати</button>
      <button mat-flat-button color="warn" (click)='onNoClick()'>Відмінити</button>
    </div>
</form>