<form (ngSubmit)='onSubmit()' [formGroup]='subjectForm'  class="example-form">
  <h3 mat-dialog-title>{{ !data ? "Додати новий" : "Редагувати" }} предмет</h3>
    <div mat-dialog-content>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Назва Предмету" formControlName="subject_name">
        <mat-error *ngIf="hasError('subject_name', 'required')">Це поле є обов'язковим</mat-error>
        <mat-error *ngIf="hasError('subject_name', 'pattern')">Використовуйте українські літери</mat-error>
      </mat-form-field>`
    </div>

    <div mat-dialog-content>
      <mat-form-field appearance="outline">
        <textarea placeholder="Опис Предмету" formControlName="subject_description" matInput rows="5" cols="40"></textarea>
        <mat-error *ngIf="hasError('subject_description', 'required')">Це поле є обов'язковим</mat-error>
        <mat-error *ngIf="hasError('subject_description', 'pattern')">Використовуйте українські літери</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" cdkFocusInitial (click)='onSubmit()'>{{ !data ? "Додати" : "Редагувати" }}</button>
      <button mat-raised-button color="warn" (click)='onClose()'>Відмінити</button>
    </div>

</form>