:host {
    box-sizing: border-box;
}

mat-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
}

h3 {
    font-weight: bold;
    text-align: center;
}

button {
    width: 45%;
    text-align: center;
    margin: auto;
}