<div class="modal" *ngIf="!loading; else loader">
    <div class="modal__header">
        <h3 mat-dialog-title class="modal__title">
            <mat-icon class="header-icon">info</mat-icon>
            Інформація про студента
        </h3>
    </div>
    <mat-dialog-content class="modal__content">
        <div class="modal__container">
            <div class="modal__student-photo" *ngIf="student.photo !== ''">
                <img [src]="student.photo" alt="Student photo" />
            </div>

            <div class="modal__student-photo" *ngIf="student.photo === ''">
                <img [src]="defaultImage" alt="Student photo" />
            </div>

            <div class="modal__student-info">
                <div class="modal__student-data">
                    <div class="student-data-title">
                        <h3 class="title">ПІБ</h3>
                    </div>

                    <div class="student-data-content">
                        <h4>
                            {{ student.student_surname }}
                            {{ student.student_name }}
                            {{ student.student_fname }}
                        </h4>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="modal__student-data">
                    <div class="student-data-title">
                        <h3 class="title">Факультет/Інститут</h3>
                    </div>

                    <div class="student-data-content">
                        <h4>{{ student.faculty_name }}</h4>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="modal__student-data">
                    <div class="student-data-title">
                        <h3 class="title">Спеціальність</h3>
                    </div>

                    <div class="student-data-content">
                        <h4>
                            {{ student.speciality_code }}
                            {{ student.speciality_name }}
                        </h4>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="modal__student-data">
                    <div class="student-data-title">
                        <h3 class="title">Група</h3>
                    </div>

                    <div class="student-data-content">
                        <h4>{{ student.group_name }}</h4>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="modal__student-data">
                    <div class="student-data-title">
                        <h3 class="title">Номер залікової книжки</h3>
                    </div>

                    <div class="student-data-content">
                        <h4>{{ student.gradebook_id }}</h4>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="modal__student-data">
                    <div class="student-data-title">
                        <h3 class="title">Електронна пошта</h3>
                    </div>

                    <div class="student-data-content">
                        <h4>{{ student.email }}</h4>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="modal__student-data">
                    <div class="student-data-title">
                        <h3 class="title">
                            Унікальне ім'я користувача в системі
                        </h3>
                    </div>

                    <div class="student-data-content">
                        <h4>{{ student.username }}</h4>
                    </div>
                </div>

                <mat-divider></mat-divider>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="modal__actions">
        <div class="modal__buttons">
            <button
                mat-flat-button
                (click)="closeModal()"
                type="reset"
                mat-dialog-close
                class="modal__btn dark-btn"
            >
                Закрити
            </button>
        </div>
    </mat-dialog-actions>
</div>

<ng-template #loader>
    <mat-progress-spinner
        mode="indeterminate"
        color="primary"
    ></mat-progress-spinner>
</ng-template>
