.modal {
    width: 660px;

    &__header {
        margin-top: 15px;
        margin-bottom: 30px;
        text-align: center;

        & .header-icon {
            vertical-align: middle;
            font-size: 30px;
            margin: -9px 10px auto auto;
        }
    }

    &__title {
        font-size: 25px;
        font-weight: 500;
    }

    &__content {
        padding-top: 25px;
    }

    &__container {
        display: flex;
        flex-direction: row;
    }

    &__student-photo {
        margin-left: -20px;
        width: 50%;
        display: flex;
        justify-content: center;

        & img {
            width: 78%;
            height: 250px;
        }
    }

    &__student-info {
        width: 50%;
        margin-left: 7px;
        margin-right: 7px;

        & mat-divider {
            margin-top: -5px;
            margin-bottom: 10px;

            &:last-child {
                margin: 0 0 0 0;
            }
        }
    }

    &__student-data {
        & .student-data-title {
            & h3 {
                font-size: 14px;
                font-weight: 600;
            }
        }

        & .student-data-content {
            margin-top: -15px;
            & h4 {
                font-size: 16px;
            }
        }
    }

    &__btn {
        padding: 3px 25px 3px 25px;
        background: #e1e1e1;
    }

    & .empty-data {
        display: flex;
        justify-content: center;
        text-align: center;

        & h1 {
            border-radius: 1px;
            font-size: 20px;
            font-weight: 500;
            color: black;
            border-bottom: 3px solid #3f51b5;
        }
    }
}

mat-progress-spinner {
    position: relative;
    left: 1.7%;
    margin: 281px 280px;
}
