<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
    >
        <mat-toolbar>Навігація</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="">Головна</a>
            <a mat-list-item routerLink="">Факультети</a>
            <a mat-list-item routerLink="">Групи</a>
            <a mat-list-item routerLink="">Спеціальності</a>
            <a mat-list-item routerLink="">Предмети</a>
            <a mat-list-item routerLink="">Результати</a>
            <a mat-list-item routerLink="">Протокол</a>
            <a mat-list-item routerLink="">Адміни</a>
            <a mat-list-item routerLink="">Про нас</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async"
            >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>DT-API</span>
            <span class="toolbar-spacer"></span>

            <span class="toolbar-spacer"></span>
            <!-- !Login/Logout  -->
            <button mat-button [matMenuTriggerFor]="menu">Адмін</button>
            <mat-menu #menu="matMenu">
                <!-- !На цю кнопку event binding на клік метод logout -->
                <button mat-menu-item>Вийти</button>
            </mat-menu>
            <!-- !Language  -->
            <button mat-button [matMenuTriggerFor]="lang">Мова</button>
            <mat-menu #lang="matMenu">
                <button mat-menu-item>ENG</button>
                <button mat-menu-item>UKR</button>
            </mat-menu>
            <button
                mat-mini-fab
                color="primary"
                (click)="drawer.toggle()"
                (click)="menuIconChange()"
            >
                <mat-icon>{{ menuIcon }}</mat-icon>
            </button>
        </mat-toolbar>
        <!-- Add Content Here -->
        <div class="grid-container">
            <h1 class="mat-h1">Статистика</h1>
            <mat-grid-list cols="4" rowHeight="400px">
                <mat-grid-tile *ngFor="let card of cards | async">
                    <mat-card class="dashboard-card">
                        <mat-card-header>
                            <mat-card-title>
                                {{ card.title }}
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="dashboard-card-content">
                            <div class="dashboard-card-content__container">
                                <mat-icon class="dashboard-card-content__icon">
                                    {{ card.icon }}
                                </mat-icon>
                                <a
                                    routerLink="{{ card.url }}"
                                    mat-fab
                                    color="primary"
                                    class="dashboard-card-content__count"
                                >
                                    {{ card.count }}
                                </a>
                                <a
                                    routerLink="{{ card.url }}"
                                    mat-flat-button
                                    class="dashboard-card-content__link"
                                    color="primary"
                                    >Перейти</a
                                >
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
