<section class="students entity-page">
    <div class="students__container entity-container">
        <div class="students__header entity-header">
            <h1 class="mat-h1 entity-title">
                <mat-icon class="entity-title-icon">how_to_reg </mat-icon>
                Студенти {{ groupName ? 'групи ' + groupName : '' }}
            </h1>
            <button
                class="entity-btn"
                mat-raised-button
                color="primary"
                (click)="add()"
            >
                <mat-icon class="entity-btn-icon">add_circle</mat-icon>
                Додати студента
            </button>
        </div>
        <div class="students__table" *ngIf="!loading; else loader">
            <div
                class="table-wrapper"
                *ngIf="dataSource.data.length > 0; else empty"
            >
                <app-students-table
                    [dataSource]="dataSource"
                    [groupID]="groupID"
                ></app-students-table>
            </div>
            <ng-template #empty>
                <div class="empty-data">
                    <mat-icon class="empty-data-icon">report</mat-icon>
                    <h1 class="empty-data-text">Студенти відсутні</h1>
                </div>
            </ng-template>
        </div>
        <ng-template #loader>
            <app-loader class="students__loader"></app-loader>
        </ng-template>
    </div>
</section>
