<form class="example-form" [formGroup]="form" (ngSubmit)="addSpeciality()">
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="speciality_name" />
        <div
            class="validation"
            *ngIf="
                form.get('speciality_name').invalid &&
                form.get('speciality_name').touched
            "
        >
            <small>Поле не може бути пустим</small>
        </div> </mat-form-field
    ><br />
    <mat-form-field class="example-full-width">
        <mat-label>Code</mat-label>
        <input matInput placeholder="2134" formControlName="speciality_code" />
        <div
            class="validation"
            *ngIf="
                form.get('speciality_code').invalid &&
                form.get('speciality_code').touched
            "
        >
            <small *ngIf="form.get('speciality_code').errors.required"
                >Поле не може бути пустим</small
            >
            <small *ngIf="form.get('speciality_code').errors.maxlength"
                >Поле повинно містити не більше
                {{
                    form.get('speciality_code').errors.maxlength.requiredLength
                }}
                чисел , у вас:
                {{
                    form.get('speciality_code').errors.maxlength.actualLength
                }}</small
            >
            <small *ngIf="form.get('speciality_code').errors.isNum">
                Поле може містити тільки числа
            </small>
        </div> </mat-form-field
    ><br />
    <button
        mat-raised-button
        type="button"
        (click)="onCancel()"
        class="btn2 decline"
    >
        Відмінити
    </button>
    <button
        mat-raised-button
        class="btn2 accept"
        type="submit"
        [disabled]="form.invalid"
    >
        Добавити
    </button>
</form>
