<form (ngSubmit)="onSubmit()" [formGroup]="subjectForm" class="example-form">
    <h1 mat-dialog-title class="modal-title">
        {{ !data ? 'Додати новий' : 'Редагувати' }} предмет
    </h1>
    <div mat-dialog-content>
        <mat-form-field class="modal-field">
            <mat-label class="modal-entity-input"
                ><mat-icon>collections_bookmark</mat-icon> Назва
                Предмету</mat-label
            >
            <input matInput formControlName="subject_name" />
            <mat-error *ngIf="hasError('subject_name', 'required')"
                >Це поле є обов'язковим</mat-error
            >
        </mat-form-field>
    </div>

    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <textarea
                placeholder="Опис Предмету"
                formControlName="subject_description"
                matInput
                rows="5"
                cols="40"
            ></textarea>
            <mat-error *ngIf="hasError('subject_description', 'required')"
                >Це поле є обов'язковим</mat-error
            >
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="modal-field">
        <button mat-button type="reset" (click)="onClose()">Відмінити</button>
        <button
            mat-button
            cdkFocusInitial
            [disabled]="!subjectForm.valid"
            (click)="onSubmit()"
        >
            {{ !data ? 'Додати' : 'Редагувати' }}
        </button>
    </div>
</form>
