<h1 mat-dialog-title>Редагувати групу</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Group name</mat-label>
    <input matInput [(ngModel)]="data.group_name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Speciality name</mat-label>
    <mat-select [(ngModel)]="data.speciality_name">
        <mat-option *ngFor="let item of specialities" [value]="item[0].speciality_name">{{item[0].speciality_name}}</mat-option>
      </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Faculty name</mat-label>
    <mat-select [(ngModel)]="data.faculty_name">
      <mat-option *ngFor="let item of faculties" [value]="item[0].faculty_name">{{item[0].faculty_name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>