<div class="entity-header">
    <h1 class="mat-h1 entity-title">
        <mat-icon class="entity-title-icon">playlist_add_check </mat-icon>Тести
    </h1>
    <button mat-raised-button color="primary" (click)="openAddDialog()">
        <mat-icon>add_circle</mat-icon> Додати тест
    </button>
</div>

<mat-form-field>
    <mat-label class="entity-search-label">
        <mat-icon class="entity-search-icon">person_search</mat-icon>
        Пошук
    </mat-label>
    <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Введіть тест"
        #input
    />
</mat-form-field>
<div class="mat-elevation-z8">
    <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortStart="desc"
        #tabl
        e
    >
        <ng-container matColumnDef="test_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>№</th>
            <td mat-cell *matCellDef="let element">
                {{ element.test_id }}
            </td>
        </ng-container>
        <ng-container matColumnDef="test_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Назва</th>
            <td mat-cell *matCellDef="let element">
                {{ element.test_name }}
            </td>
        </ng-container>
        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Предмет</th>
            <td mat-cell *matCellDef="let element">
                {{ getSubjectNameById(element.subject_id) }}
            </td>
        </ng-container>
        <ng-container matColumnDef="tasks">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Завдання</th>
            <td mat-cell *matCellDef="let element">{{ element.tasks }}</td>
        </ng-container>
        <ng-container matColumnDef="time_for_test">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Тривалість
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.time_for_test }}
            </td>
        </ng-container>
        <ng-container matColumnDef="attempts">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Спроби</th>
            <td mat-cell *matCellDef="let element">
                {{ element.attempts }}
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Дії</th>
            <td mat-cell *matCellDef="let element">
                <button
                    class="operation-button"
                    mat-flat-button
                    color="primary"
                    (click)="openEditDialog(element)"
                >
                    <mat-icon
                        aria-hidden="false"
                        aria-label="edit"
                        matTooltip="Редагування"
                    >
                        edit
                    </mat-icon>
                </button>
                <button
                    class="operation-button"
                    mat-flat-button
                    color="primary"
                    (click)="redirectToDelete(element)"
                >
                    <mat-icon
                        aria-hidden="false"
                        aria-label="delete"
                        matTooltip="Видалення
                    "
                    >
                        delete
                    </mat-icon>
                </button>
                <button
                    class="operation-button"
                    mat-flat-button
                    color="primary"
                    (click)="openEIDialog(element)"
                >
                    <mat-icon
                        aria-hidden="false"
                        aria-label="delete"
                        matTooltip="Імпорт/експорт
                    "
                    >
                        import_export
                    </mat-icon>
                </button>
                <button
                    class="operation-button"
                    mat-flat-button
                    color="primary"
                    (click)="redirectToTestDetail(element.test_id)"
                >
                    <mat-icon
                        aria-hidden="false"
                        aria-label="description"
                        matTooltip="Параметри теста"
                    >
                        description
                    </mat-icon>
                </button>
                <button
                    class="operation-button"
                    mat-flat-button
                    color="primary"
                    (click)="navigateToTestQuestions(element.test_id)"
                >
                    <mat-icon
                        aria-label="questions"
                        matTooltip="Питання до тесту"
                    >
                        help_center
                    </mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *MatNoDataRow>
            <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
            </td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25]"></mat-paginator>
</div>
