table {
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1440px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

mat-icon {
    cursor: pointer;

    &:hover {
        color: orange;
    }
}
