table {
    width: 100%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 25%;
}

th,
td {
    width: 10%;
}

.paginator {
    display: flex;
    justify-content: flex-end;
}

.mat-icon {
    &:hover {
        color: red;
        cursor: pointer;
    }
}
.entity-title {
    display: flex;
    align-items: center;
    .mat-icon {
        width: auto;
        height: auto;
    }
}
