.students {
    margin: 50px 0 50px 0;

    & .hide {
        opacity: 0;
    }

    & mat-paginator {
        margin-top: 20px;
    }

    &__breadcrumb {
        & span {
            font-size: 22px;
        }

        & mat-icon {
            vertical-align: bottom;
            font-size: 40px;
            margin: auto 20px 8px 10px;
        }

        & .active_prev {
            color: gray;
        }

        & .active {
            color: #3f51b5;
        }
    }

    &__header {
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & h1 {
            font-size: 40px;
            font-weight: 500;
        }

        & button {
            font-size: 16px;
            padding: 5px 30px;
        }

        & mat-icon {
            vertical-align: bottom;
            font-size: 25px;
            margin: auto 10px 6.5px -5px;
        }
    }

    &__table {
        & mat-form-field {
            font-size: 16px;
            width: 100%;
        }

        & table {
            width: 100%;
        }

        & th {
            font-size: 14px;
            padding-top: 5px;
        }

        & mat-icon {
            cursor: pointer;
            padding: 5px 10px 0 10px;

            &:hover {
                &:nth-child(1) {
                    color: #69f0ae;
                }

                &:nth-child(2) {
                    color: #ff4081;
                }

                &:nth-child(3) {
                    color: #fceb6f;
                }

                &:nth-child(4) {
                    color: #f44336;
                }
            }
        }

        & .empty-data {
            display: inline-block;
            top: 45%;
            left: 43%;
            position: absolute;
            text-align: center;

            & h1 {
                border-radius: 4px;
                font-size: 28px;
                font-weight: 500;
                color: #f4f4f4;
                background: #3f51b5;
                padding: 10px 15px 10px 15px;
            }
        }
    }
}
