.modal {
    overflow: hidden;

    &__header {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 10px;

        & h1 {
            font-weight: 500;
        }

        & .header-icon {
            vertical-align: top;
            font-size: 30px;
            margin: 1px 15px auto auto;
        }
    }

    &__form {
        margin: 20px auto auto auto;
        padding: 2% 5%;

        & mat-icon {
            vertical-align: bottom;
            font-size: 20px;
            margin-right: 5px;
        }

        & mat-label {
            display: flex;
            align-items: center;
        }

        & mat-form-field {
            width: 100%;
            justify-content: center;
            font-size: 16px;
            margin-bottom: 10px;
        }

        & .image-form-control {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 35px;

            & .preview-image {
                width: 250px;
                height: 250px;
            }

            & .form-upload-btn {
                margin-top: 15px;
                font-size: 14px;
                padding: 5px 25px 5px 25px;
            }

            & .file-input-icon {
                vertical-align: top;
                font-size: 20px;
                margin: 7px 5px auto auto;
            }
        }
    }

    &__buttons {
        width: 100%;
        justify-content: center;

        & button {
            width: calc(50% - 10px);
            padding: 3px 0;

            &:first-of-type {
                margin-right: 15px;
                background: #e1e1e1;
            }
        }
    }
}

mat-progress-spinner {
    position: relative;
    left: 1%;
    margin: 300px 185px;
}
