<div class="modal" *ngIf="!loading; else loader">
    <div class="modal__header">
        <h1 mat-dialog-title class="modal__title">
            <mat-icon class="header-icon">
                {{ data.isUpdateData ? 'edit' : 'person_add' }}
            </mat-icon>
            {{
                data.isUpdateData
                    ? 'Редагувати дані студента'
                    : 'Додати нового студента'
            }}
        </h1>
    </div>
    <div class="modal__form">
        <form class="add-form" [formGroup]="form" (ngSubmit)="submit()">
            <div
                class="form-control"
                [ngClass]="{
                    invalid:
                        form.get('lastname').touched &&
                        form.get('lastname').invalid
                }"
            >
                <mat-form-field class="mat-form-field-lastname">
                    <mat-label for="lastname"
                        ><mat-icon>person_outline</mat-icon>Прізвище</mat-label
                    >
                    <input
                        matInput
                        formControlName="lastname"
                        type="text"
                        id="lastname"
                    />
                    <mat-error
                        *ngIf="
                            form.get('lastname').touched &&
                            form.get('lastname').invalid
                        "
                        class="validation"
                    >
                        <small *ngIf="form.get('lastname').errors.required">
                            Поле не заповнене! Будь-ласка введіть прізвище
                            студента
                        </small>
                    </mat-error>
                </mat-form-field>
            </div>

            <div
                class="form-control"
                [ngClass]="{
                    invalid:
                        form.get('firstname').touched &&
                        form.get('firstname').invalid
                }"
            >
                <mat-form-field class="mat-form-field-firstname">
                    <mat-label for="firstname"
                        ><mat-icon>person_outline</mat-icon>Ім'я</mat-label
                    >
                    <input
                        matInput
                        formControlName="firstname"
                        type="text"
                        id="firstname"
                    />
                    <mat-error
                        *ngIf="
                            form.get('firstname').touched &&
                            form.get('firstname').invalid
                        "
                        class="validation"
                    >
                        <small *ngIf="form.get('firstname').errors.required">
                            Поле не заповнене! Будь-ласка введіть ім'я студента
                        </small>
                    </mat-error>
                </mat-form-field>
            </div>

            <div
                class="form-control"
                [ngClass]="{
                    invalid:
                        form.get('fathername').touched &&
                        form.get('fathername').invalid
                }"
            >
                <mat-form-field class="mat-form-field-fathername">
                    <mat-label for="fathername"
                        ><mat-icon>person_outline</mat-icon
                        >По-батькові</mat-label
                    >
                    <input
                        matInput
                        formControlName="fathername"
                        type="text"
                        id="fathername"
                    />
                    <mat-error
                        *ngIf="
                            form.get('fathername').touched &&
                            form.get('fathername').invalid
                        "
                        class="validation"
                    >
                        <small *ngIf="form.get('fathername').errors.required">
                            Поле не заповнене! Будь-ласка введіть ім'я
                            по-батькові студента
                        </small>
                    </mat-error>
                </mat-form-field>
            </div>

            <div
                class="form-control"
                [ngClass]="{
                    invalid:
                        form.get('gradebookID').touched &&
                        form.get('gradebookID').invalid
                }"
            >
                <mat-form-field class="mat-form-field-gradebook">
                    <mat-label for="gradebookID"
                        ><mat-icon>library_books</mat-icon>Номер залікової
                        книжки</mat-label
                    >
                    <input
                        matInput
                        formControlName="gradebookID"
                        type="text"
                        id="gradebookID"
                        placeholder="IP-16-2"
                    />
                    <mat-error
                        *ngIf="
                            form.get('gradebookID').touched &&
                            form.get('gradebookID').invalid
                        "
                        class="validation"
                    >
                        <small *ngIf="form.get('gradebookID').errors.required">
                            Поле не заповнене! Будь-ласка введіть номер
                            залікової книжки студента
                        </small>
                        <small
                            *ngIf="
                                form.get('gradebookID').errors
                                    .propertyIsNotUnique
                            "
                        >
                            Користувач з таким номером залікової книжки вже
                            існує
                        </small>
                    </mat-error>
                </mat-form-field>
            </div>

            <div
                class="form-control"
                [ngClass]="{
                    invalid:
                        form.get('username').touched &&
                        form.get('username').invalid
                }"
            >
                <mat-form-field class="mat-form-field-username">
                    <mat-label for="username"
                        ><mat-icon>person_add</mat-icon>Системне ім'я
                        користувача</mat-label
                    >
                    <input
                        matInput
                        formControlName="username"
                        type="text"
                        id="username"
                        placeholder="oleh-ip-20-1"
                    />
                    <mat-error
                        *ngIf="
                            form.get('username').touched &&
                            form.get('username').invalid
                        "
                        class="validation"
                    >
                        <small *ngIf="form.get('username').errors.required">
                            Поле не заповнене! Будь-ласка введіть системне ім'я
                            користувача студента
                        </small>
                        <small
                            *ngIf="
                                form.get('username').errors.propertyIsNotUnique
                            "
                        >
                            Користувач з таким ім'я уже існує
                        </small>
                        <small *ngIf="form.get('username').hasError('pattern')">
                            Ім'я користувача повинно складатись з QWERTY літер,
                            цифер та поширених розділових знаків, окрім знаку -
                            .
                        </small>
                        <small *ngIf="form.get('username').errors.minlength">
                            Мінімальна довжина ім'я користувача
                            {{
                                form.get('username').errors.minlength
                                    .requiredLength
                            }}
                            символів.
                        </small>
                    </mat-error>
                </mat-form-field>
            </div>

            <div
                class="form-control"
                [ngClass]="{
                    invalid:
                        form.get('email').touched && form.get('email').invalid
                }"
            >
                <mat-form-field class="mat-form-field-email">
                    <mat-label for="email"
                        ><mat-icon>email</mat-icon>Електронна пошта</mat-label
                    >
                    <input
                        matInput
                        formControlName="email"
                        type="email"
                        id="email"
                        placeholder="Ex. pat@example.com"
                    />
                    <mat-error
                        *ngIf="
                            form.get('email').touched &&
                            form.get('email').invalid
                        "
                        class="validation"
                    >
                        <small *ngIf="form.get('email').errors.required">
                            Поле не заповнене! Будь-ласка введіть електронну
                            пошту студента
                        </small>
                        <small *ngIf="form.get('email').errors.email">
                            Некоректні дані! Будь-ласка введіть коректну
                            електронну пошту
                        </small>
                        <small
                            *ngIf="form.get('email').errors.propertyIsNotUnique"
                        >
                            Користувач з такою електронною адресою вже існує
                        </small>
                        <small *ngIf="form.get('email').hasError('pattern')">
                            Некоректні дані! Будь-ласка введіть існуючу
                            електронну пошту
                        </small>
                    </mat-error>
                </mat-form-field>
            </div>

            <div
                class="form-control"
                [ngClass]="{
                    invalid:
                        form.get('password').touched &&
                        form.get('password').invalid
                }"
            >
                <mat-form-field class="mat-form-field-password">
                    <mat-label for="password"
                        ><mat-icon>vpn_key</mat-icon>Пароль</mat-label
                    >
                    <input
                        matInput
                        [type]="hide ? 'password' : 'text'"
                        formControlName="password"
                        style="border: none"
                        id="password"
                        placeholder="Пароль має містити лише літери, цифри та поширені розділові знаки"
                    />
                    <button
                        [matTooltip]="
                            hide ? 'Показати пароль' : 'Сховати пароль'
                        "
                        mat-icon-button
                        matSuffix
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide"
                        type="button"
                    >
                        <mat-icon>{{
                            hide ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="
                            form.get('password').touched &&
                            form.get('password').invalid
                        "
                        class="validation"
                    >
                        <small *ngIf="form.get('password').errors.minlength">
                            Мінімальна довжина паролю
                            {{
                                form.get('password').errors.minlength
                                    .requiredLength
                            }}
                            символів. Поточна кількість
                            {{
                                form.get('password').errors.minlength
                                    .actualLength
                            }}
                            символів
                        </small>
                        <small *ngIf="form.get('password').errors.required">
                            Поле не заповнене! Будь-ласка введіть унікальний
                            пароль студента
                        </small>
                        <small *ngIf="form.get('password').hasError('pattern')">
                            Пароль має містити лише QWERTY літери (великі та
                            малі), цифри та поширені розділові знаки
                        </small>
                    </mat-error>
                </mat-form-field>
            </div>

            <div
                class="form-control"
                [ngClass]="{
                    invalid:
                        form.get('password_confirm').touched &&
                        form.get('password_confirm').invalid
                }"
            >
                <mat-form-field class="mat-form-field-password_confirm">
                    <mat-label for="password_confirm"
                        ><mat-icon>vpn_key</mat-icon>Підтвердіть
                        пароль</mat-label
                    >
                    <input
                        matInput
                        appConfirmValidator="password"
                        [type]="hide ? 'password' : 'text'"
                        formControlName="password_confirm"
                        style="border: none"
                        id="password_confirm"
                        placeholder="Введіть повторно пароль, який був введений у попередньому полі"
                    />
                    <button
                        [matTooltip]="
                            hide ? 'Показати пароль' : 'Сховати пароль'
                        "
                        mat-icon-button
                        matSuffix
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide"
                        type="button"
                    >
                        <mat-icon>{{
                            hide ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="
                            form.get('password_confirm').touched &&
                            form.get('password_confirm').invalid
                        "
                        class="validation"
                    >
                        <small
                            *ngIf="form.get('password_confirm').errors.required"
                        >
                            Поле не заповнене! Будь-ласка введіть повторно
                            пароль студента, який був введений у попередньому
                            полі
                        </small>
                        <small
                            *ngIf="
                                form.get('password_confirm').errors?.notEqual &&
                                !form.get('password_confirm').errors?.required
                            "
                        >
                            Паролі не збігаються. Пароль у попередньому полі
                            повинен співпадати з паролем даного поля
                        </small>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="image-form-control">
                <div class="image" *ngIf="!this.data.isUpdateData">
                    <img
                        class="preview-image"
                        *ngIf="image"
                        [src]="image"
                        alt="preview"
                    />
                    <img
                        class="preview-image"
                        *ngIf="!image"
                        [src]="defaultImage"
                        alt="preview"
                    />
                </div>

                <div
                    class="image"
                    *ngIf="this.data.isUpdateData && this.student.photo !== ''"
                >
                    <img
                        class="preview-image"
                        *ngIf="this.student.photo === ''"
                        [src]="defaultImage"
                        alt="preview"
                    />
                    <img
                        class="preview-image"
                        *ngIf="!image"
                        [src]="this.student.photo"
                        alt="preview"
                    />
                    <img
                        class="preview-image"
                        *ngIf="image"
                        [src]="image"
                        alt="preview"
                    />
                </div>

                <div
                    class="image"
                    *ngIf="this.data.isUpdateData && this.student.photo === ''"
                >
                    <img
                        class="preview-image"
                        *ngIf="image"
                        [src]="image"
                        alt="preview"
                    />
                    <img
                        class="preview-image"
                        *ngIf="!image"
                        [src]="defaultImage"
                        alt="preview"
                    />
                </div>

                <div class="file-input">
                    <button
                        [matTooltip]="
                            this.data.isUpdateData
                                ? 'Нажміть, щоб оновити фото'
                                : 'Нажміть, щоб завантажити фото'
                        "
                        (click)="fileInput()"
                        class="form-upload-btn"
                        mat-stroked-button
                        color="primary"
                        type="button"
                    >
                        <mat-icon class="file-input-icon"
                            >cloud_upload</mat-icon
                        >
                        Завантажити фото
                    </button>
                    <input
                        type="file"
                        hidden
                        #imageFile
                        [disabled]="form.disabled"
                        (change)="fileUpload($event)"
                    />
                </div>
            </div>

            <div class="modal__buttons">
                <button
                    mat-flat-button
                    (click)="closeModal()"
                    type="reset"
                    mat-dialog-close
                    class="modal__btn-close dark-btn"
                >
                    Скасувати
                </button>

                <button
                    mat-flat-button
                    type="submit"
                    class="modal__btn-save"
                    [disabled]="form.invalid || submitted"
                >
                    {{
                        data.isUpdateData
                            ? 'Редагувати дані'
                            : 'Додати студента'
                    }}
                </button>
            </div>
        </form>
    </div>
</div>

<ng-template #loader>
    <mat-progress-spinner
        mode="indeterminate"
        color="primary"
    ></mat-progress-spinner>
</ng-template>
