.container {
    & .hide {
        opacity: 0;
    }

    & mat-form-field {
        font-size: 16px;
        width: 100%;
    }

    table {
        width: 100%;
        th {
            text-align: left;
        }
    }

    .mat-typography {
        margin: 60px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .mat-h1 {
            font-size: 40px;
            font-weight: 500;
        }

        & .header-icon {
            vertical-align: top;
            font-size: 45px;
            margin: -5px 25px auto auto;
        }

        .add-group {
            font-size: 16px;
            padding: 5px 30px;
        }

        & .btn-icon {
            vertical-align: bottom;
            font-size: 25px;
            margin: auto 10px 6.5px -5px;
        }
    }
    .mat-icon {
        cursor: pointer;
        &:hover {
            color: #3f51b5;
        }
    }
}
