table {
    width: 100%;
}

th,
td {
    width: 0%;
}

.paginator {
    display: flex;
    justify-content: flex-end;
}

.mat-icon {
    &:hover {
        color: red;
        cursor: pointer;
    }
}
.entity-title {
    display: flex;
    align-items: center;
    .mat-icon {
        width: auto;
        height: auto;
    }
}
.operation-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    min-width: 30px;
    margin: 0 0.5rem 0 0;
    padding: 0 0.4rem;
    &:last-child {
        margin: 0 0 0 0;
    }
    .mat-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }
}
.showRate {
    margin-top: 2px;
    display: block;
    padding: 8px;
    border-bottom: 1px solid lightgrey;
    background: white;
}
