<div class="container">
    <div *ngIf="logoSrc" class="logo">
        <img src="{{ logoSrc }}" alt="logo" srcset="" />
    </div>
    <div class="form-wrap">
        <p class="form-title">Авторизація</p>
        <form [formGroup]="loginForm" novalidate (submit)="onSubmit()">
            <mat-form-field
                class="form-field"
                appearance="outline"
                #outlineFieldRef
            >
                <mat-label> Логін </mat-label>
                <input
                    (focus)="fixOutlineStyle(outlineFieldRef)"
                    formControlName="userName"
                    name="username"
                    matInput
                    type="text"
                    required
                />
                <span matPrefix class="material-icons"> login </span>
                <!-- <span *ngIf="userName.errors?.forbiddenValidator">Такого логіна немає в системі</span> -->
            </mat-form-field>
            <mat-form-field
                class="form-field"
                appearance="outline"
                #outlineFieldPas
            >
                <mat-label> Пароль </mat-label>
                <input
                    (focus)="fixOutlineStyle(outlineFieldPas)"
                    name="password"
                    minlength="8"
                    formControlName="password"
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    required
                />
                <span matPrefix class="material-icons"> vpn_key </span>
                <span
                    class="form-showPassword"
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                >
                    <mat-icon
                        >{{ hide ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </span>
                <mat-hint>Пароль повинен містити не меше 8 символів </mat-hint>
            </mat-form-field>
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="loginForm.invalid"
            >
                Вхід
            </button>
        </form>
    </div>
    <div class="form-request-error" *ngIf="badRequest" [@inOutAnimation]>
        <p>{{ errorMessage }}</p>
    </div>
</div>
