.student-container {
    padding-top: 30px;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    .student-test-timeTable {
        @media screen and (max-width: 1201px) {
            order: 1;
        }
        .student-table-test {
            margin-bottom: 40px;
        }
    }
    .student-test-title,
    .student-info-title {
        text-align: center;
        font-size: 24px;
        padding-bottom: 20px;
    }
    .student-table {
        th,
        td {
            text-align: center;
            padding: 0.3em;
            @media screen and (max-width: 600px) {
                font-size: 12px;
                padding: 1px;
                word-break: break-word;
            }
        }
    }
    .student-info {
        text-align: center;
        margin-bottom: 30px;
        @media screen and (max-width: 1201px) {
            order: 0;
        }
        .mat-card {
            box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                0px 8px 10px 1px rgba(0, 0, 0, 0.14),
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        }
    }
    .student-test-options {
        text-align: center;
    }
    .student-select {
        height: 35px;
        background-color: rgba(0, 0, 0, 0.05);
        font-size: 15px;
        text-align: center;
        padding-left: 10px;
        margin-left: 10px;
    }
}

.student-toolbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}
