<h2 mat-dialog-title>Експорт/імпорт запитань</h2>
<mat-dialog-content class="mat-typography" *ngIf="!isExport && !isImport">
    <p>Виберіть дію</p>
</mat-dialog-content>
<mat-dialog-content
    class="mat-typography"
    *ngIf="isExport && !levels; then spinner"
>
</mat-dialog-content>
<form [formGroup]="form" (ngSubmit)="saveTests()">
    <mat-dialog-content class="mat-typography" *ngIf="levels && isExport">
        <mat-label>Виберіть рівень</mat-label>
        <mat-select name="levels" formControlName="levels">
            <mat-option *ngFor="let item of levelsIds" [value]="item">{{
                item
            }}</mat-option>
        </mat-select>
        <mat-error
            *ngIf="form.get('levels').invalid && form.get('levels').touched"
        >
            Поле не має бути пустим
        </mat-error>
        <button mat-button type="submit" [disabled]="form.invalid">
            Зберегти
        </button>
    </mat-dialog-content>
</form>
<form [formGroup]="ieForm" *ngIf="isImport">
    <mat-form-field>
        <ngx-mat-file-input
            formControlName="atachment"
            placeholder="Basic Input"
            (change)="fileUpload($event)"
        ></ngx-mat-file-input>

        <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
</form>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
        Відмінити
    </button>
    <button mat-raised-button color="primary" (click)="exportTests()">
        Експортувати
    </button>
    <button mat-raised-button color="primary" (click)="importTests()">
        Імпортувати
    </button></mat-dialog-actions
>
<ng-template #spinner>
    <app-loader></app-loader>
</ng-template>
