<div class="grid-container">
    <h1 class="mat-h1 entity-title">
        <mat-icon class="entity-title-icon">dashboard </mat-icon>
        Головна
    </h1>
    <mat-grid-list
        [cols]="ResponsiveData.breakpoint"
        [rowHeight]="ResponsiveData.rowHeight"
    >
        <mat-grid-tile *ngFor="let item of CARDSDATA">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title> {{ item.title }} </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <a
                        routerLink="{{ item.link }}"
                        class="dashboard-card-link"
                    ></a>
                    <div class="dashboard-card-content__container">
                        <mat-icon class="dashboard-card-content__icon">
                            {{ item.icon }}
                        </mat-icon>
                        <a
                            routerLink="{{ item.link }}"
                            mat-fab
                            color="primary"
                            class="dashboard-card-content__count"
                        >
                            {{ item.count }}
                        </a>
                        <a
                            routerLink="{{ item.link }}"
                            mat-flat-button
                            class="dashboard-card-content__link"
                            color="primary"
                            >Перейти</a
                        >
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
