$columnNumber: 5;

table {
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
td,
th {
    width: 25%;
    @if $columnNumber == 5 {
        width: 20%;
    }
}
td:nth-child(1),
th:nth-child(1) {
    width: 10%;
}
td:nth-child(2) {
    padding-right: 2rem;
}
td:nth-child(2),
th:nth-child(2) {
    width: 40%;
}
td:nth-child(3),
th:nth-child(3) {
    width: 15%;
}
td:nth-child(4),
th:nth-child(4) {
    width: 15%;
}
.entity-header {
    display: flex;
    justify-content: space-between;
}

.operation-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    min-width: 30px;
    margin: 0 0.5rem 0 0;
    padding: 0 0.4rem;
    &:last-child {
        margin: 0 0 0 0;
    }
    .mat-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }
}
.entity-title {
    display: flex;
    align-items: center;
    .mat-icon {
        width: auto;
        height: auto;
    }
    .entity-title-icon {
        font-size: 2rem;
        margin-right: 0.5rem;
    }
}
.entity-search-label {
    display: flex;
    align-items: center;
    .mat-icon {
        width: auto;
        height: auto;
    }
    .entity-search-icon {
        font-size: 1.2rem;
    }
}
