.transfer {
    width: 400px;

    &__header {
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;

        & .header-icon {
            vertical-align: middle;
            font-size: 30px;
            margin: -9px 10px auto auto;
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 500;
    }

    &__content {
        padding-top: 5px;
    }

    &__container {
        display: flex;
        flex-direction: row;
        padding-bottom: 25px;
    }

    &__faculty {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    &__group {
        margin-right: -20px;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    &__selector {
        font-size: 16px;

        & .select-icon {
            vertical-align: middle;
            font-size: 20px;
            margin: -3px 5px auto auto;
        }
    }

    &__buttons {
        width: 100%;
        justify-content: center;

        & button {
            width: calc(50% - 10px);
            padding: 3px 0;

            &:first-of-type {
                margin-right: 10px;
                background: #e1e1e1;
            }
        }
    }
}

mat-progress-spinner {
    position: relative;
    left: 1.6%;
    margin: 49px 150px;
}
