.timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .timer-icon {
        vertical-align: middle;
        font-size: 30px;
        margin: -11px 10px auto auto;
    }

    &__info {
        margin-top: 5px;
        & h1 {
            font-weight: 580;
        }
    }

    &__panel {
        & h1 {
            font-weight: 500;
        }

        & .timer-circle {
            text-align: center;
            border-radius: 15px;
            padding: 11px 0 12px 0;
            background: #3f51b5;
            color: white;

            &.warning {
                background: #fceb6f;
                color: black;
            }

            &.danger {
                background: #f44336;
                color: black;
            }
        }

        & .timer-panel-icon {
            vertical-align: middle;
            font-size: 30px;
            margin: -10px 10px auto auto;
        }

        & .timer-numbers {
            margin-bottom: 0;
            font-size: 25px;
        }

        & .timer-init {
            font-size: 20px;
            margin-bottom: 0;
        }
    }

    &__actions {
        margin-top: 25px;

        & mat-icon {
            vertical-align: middle;
            margin-bottom: 2px;
            padding-right: 5px;
        }

        & .finish-btn {
            font-size: 16px;
            padding: 5px 30px;
        }
    }
}

mat-divider {
    margin-top: 20px;
}
