<div class="profile" *ngIf="!loading; else loader">
    <div class="profile__student-info" *ngIf="student; else notData">
        <app-profile-card
            [student]="student"
            [speciality]="{ name: specialityName, code: specialityCode }"
            [groupName]="groupName"
            [facultyName]="facultyName"
        ></app-profile-card>
    </div>

    <ng-template #notData>
        <div class="empty-data">
            <h1>Дані студента відсутні</h1>
        </div>
    </ng-template>

    <div class="profile__test" *ngIf="subjects.length; else empty">
        <app-profile-table
            [firstSubject]="firstSubject"
            [subjects]="subjects"
        ></app-profile-table>
    </div>
    <ng-template #empty>
        <div class="empty-data-subjects">
            <h1>Предмети відсутні</h1>
        </div>
    </ng-template>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
