<div class="profile" *ngIf="!loading; else loader">
    <div class="profile__student-info">
        <app-profile-card [profileData]="studentProfileData"></app-profile-card>
    </div>

    <div
        class="profile__test"
        *ngIf="subjects.length && studentProfileData; else empty"
    >
        <app-profile-table
            [subjects]="subjects"
            [groupId]="groupId"
        ></app-profile-table>
    </div>
    <ng-template #empty>
        <div class="empty-data" *ngIf="!studentProfileData">
            <mat-icon class="empty-data-icon">report</mat-icon>
            <h1 class="empty-data-text">Дані студента відсутні</h1>
        </div>
    </ng-template>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
