.profile {
    padding: 70px 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;

    &__student-info {
        width: auto;
    }

    &__test {
        width: 65%;
    }

    & .empty-data-subjects {
        display: inline-block;
        top: 84%;
        left: 41.7%;
        position: absolute;
        text-align: center;

        & h1 {
            border-radius: 4px;
            font-size: 28px;
            font-weight: 500;
            color: #f4f4f4;
            background: #3f51b5;
            padding: 10px 15px 10px 15px;
        }
    }
}
