<mat-card>
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper"> 
    <div fxFlex="80%" fxFlex.lt-md="100%" class="flex-wrapper"> 
      <h1><b>Предмети</b></h1>
      <div id='subjects-header' fxLayout fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%">
          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Пошук">
        </mat-form-field>
        <button button mat-stroked-button color="primary" (click)="onCreate()">+ Додати предмет</button>
      </div>

      <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
          <ng-container matColumnDef="№">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> № </th>
            <td mat-cell *matCellDef="let element"> {{dataSource.data.indexOf(element)+1}} </td>
          </ng-container>
         
          <ng-container matColumnDef="subject_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Назва </th>
            <td mat-cell *matCellDef="let element"> {{ element.subject_name }} </td>
          </ng-container>
         
          <ng-container matColumnDef="subject_description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Опис </th>
            <td mat-cell *matCellDef="let element"> {{element.subject_description}} </td>
          </ng-container>
         
          <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef>Опції</th>
              <td mat-cell *matCellDef="let element">
                <button  mat-icon-button color="accent" (click)="onEdit(element)" matTooltip="Оновити" >
                    <mat-icon class="mat-18">system_update</mat-icon>
                </button>
              </td>
            </ng-container>
         
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="warn" (click)="redirectToDelete(element.subject_id)" matTooltip="Видалити">
                      <mat-icon class="mat-18">delete</mat-icon>
                  </button>
                </td>
              </ng-container>
         
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
      </mat-paginator> 
    </div> 
  </div>
</mat-card>


