td,
th {
    width: auto;
}
.getDataBtn {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0%;
    &:hover {
        opacity: 0.85;
    }
    &:disabled {
        cursor: not-allowed;
    }
}

.operation-button {
    font-size: 23px;
    &:hover {
        opacity: 0.85;
    }
}
.detail-btn {
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
        font-size: 1.6rem;
    }
}
.entity-title {
    display: flex;
    align-items: center;
    .mat-icon {
        width: auto;
        height: auto;
    }
    .results-title-icon {
        font-size: 2rem;
        margin-right: 0.5rem;
    }
}
