<div class="profile-table">
    <h1 class="profile-table__title">
        <mat-icon class="header-icon">schedule</mat-icon> Розклад тестування
    </h1>
    <mat-form-field class="select-subject">
        <mat-label>
            <mat-icon class="search-icon">collections_bookmark</mat-icon>
            Предмети
        </mat-label>
        <mat-select
            (selectionChange)="selectSubject($event)"
            class="profile-select"
        >
            <mat-option
                *ngFor="let subject of newSubjects"
                [value]="{ name: subject.subject_name, id: subject.subject_id }"
            >
                {{ subject.subject_name }}
            </mat-option>
            <mat-option value="ALL"> Показати всі </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            <mat-icon class="search-icon">person_search</mat-icon>
            Фільтр
        </mat-label>
        <input
            [disabled]="!testsBySubject.length || !dataSource.data.length"
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Здійснюйте фільтрацію по всіх колонках таблиці"
            #input
        />
    </mat-form-field>
    <div
        class="mat-elevation-z8 profile-table__table"
        [hidden]="!testsBySubject.length || !dataSource.data.length"
    >
        <table
            mat-table
            [dataSource]="dataSource"
            class="profile-table__table mat-elevation-z8"
        >
            <ng-container matColumnDef="Предмет">
                <th mat-header-cell *matHeaderCellDef>Предмет</th>
                <td mat-cell *matCellDef="let test">
                    {{ test.subjectname }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Тест">
                <th mat-header-cell *matHeaderCellDef>Тест</th>
                <td mat-cell *matCellDef="let test">
                    {{ test.test_name }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Початок">
                <th mat-header-cell *matHeaderCellDef>Початок</th>
                <td mat-cell *matCellDef="let test">
                    <span>{{ test.start_date }}</span> <br />
                    {{ test.start_time }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Кінець">
                <th mat-header-cell *matHeaderCellDef>Кінець</th>
                <td mat-cell *matCellDef="let test">
                    <span> {{ test.end_date }}</span
                    ><br />
                    {{ test.end_time }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Кількість завдань">
                <th mat-header-cell *matHeaderCellDef>К-сть завдань</th>
                <td mat-cell *matCellDef="let test">{{ test.tasks }}</td>
            </ng-container>
            <ng-container matColumnDef="Тривалість тесту">
                <th mat-header-cell *matHeaderCellDef>Тривалість</th>
                <td mat-cell *matCellDef="let test">
                    {{ test.time_for_test }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Кількість спроб">
                <th mat-header-cell *matHeaderCellDef>К-сть спроб</th>
                <td mat-cell *matCellDef="let test">{{ test.attempts }}</td>
            </ng-container>
            <ng-container matColumnDef="Почати тестування">
                <th mat-header-cell *matHeaderCellDef>Здати тест</th>
                <td mat-cell *matCellDef="let test">
                    <button
                        class="operation-button"
                        mat-flat-button
                        color="primary"
                        matTooltip="Натисніть, щоб розпочати"
                        (click)="checkPossibilityToPassTest(test)"
                    >
                        <mat-icon>not_started</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                    Нічого не знайдено за заданим фільтром "{{ input.value }}"
                </td>
            </tr>
        </table>
        <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
        ></mat-paginator>
    </div>
    <div class="empty-data-test" *ngIf="!testsBySubject.length && !hide">
        <mat-icon class="dark-theme-icon">report</mat-icon>
        <h1>
            Тести з даного предмету <br />
            відсутні
        </h1>
    </div>
    <div
        class="empty-data-test select"
        *ngIf="!dataSource.data.length && startText"
    >
        <mat-icon class="dark-theme-icon">playlist_add_check</mat-icon>
        <h1>Оберіть предмет для тестування</h1>
    </div>
</div>
